{% extends "home/base.html" %}
{% block start %}

<div class="container mt-5">
    <form class="col-6 mx-auto" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <h2>Update Receipe</h2>
      <hr>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Receipe name</label>
        <input name="receipe_name"  value="{{receipe.receipe_name}}"  required type="text" class="form-control">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Receipe Description</label>
        <input name="receipe_description"  value="" type="text" class="form-control">{{receipe.receipe_description}}
      </div>
      <div class="mb-3">
        <label for="checkbox" class="form-label">Receipe Image</label>
        <input name="receipe_image" type="file" class="form-control">
      </div>
      <button type="submit" class="btn btn-success">Update Receipe</button>
    </form>

</div>

{% endblock %}
